:root {
    --color-small-col: #eaeaea;
    --color-white: #fff;
    --color-green: #d4f9bb;
    --color-grey: #b1b1b1;
    --color-blue: #8fdafc;
    --color-white-2: #f2fbff;
    --color-icon: #6b7376;
}